html {
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  box-sizing: border-box;
}

a.photo {
  display: block;
  text-align: center;
}

p, table, a.photo, img, ol, ul {
  margin-bottom: 1.2em;
}

a.photo:last-child, img:last-child {
  margin-bottom: 0 !important;
}
.container {
  width: calc(14rem * 3 + 5.5rem * 4);
  margin: auto;
}

.pad-below {
  margin-bottom: 6rem !important;
}

header .row {
  align-items: center;
  margin: 3.5rem 0 4.5rem;
}

.row {
  display: flex;
  /*ustify-content: space-between;*/
}

header .logo {
  object-fit: contain;
  height: 12.5rem;
  width: 12.5rem;
}

#sobre-nosotros, #servicios-laboratorio {
  background-color: #0588cb;
  color: #fff;
  padding: 2rem 0;
  margin-bottom: 3.5rem;
}

#sobre-nosotros .col-1 h2, #servicios-laboratorio .col-1 h2 {
  border-top: 0.2rem solid #fff;
  font-size: 0.95rem;
  font-weight: bold;
  padding-top: 0.2rem;
}

#productos .col-1 h2, #contacto .col-1 h2 {
  border-top: 0.2rem solid #0588cb;
  color: #0588cb;
  font-size: 0.95rem;
  font-weight: bold;
  padding-top: 0.2rem;

}


.col-1 {
  margin-right: 0 !important;
}

a.photo img, img.title {
  max-width: 66%;
}

@media (min-width: 700px) {
  html { font-size: 14px; }
  .col-1, .col-2, .col-3 { margin: 0 3rem; }
  .col-1 { width: calc(12.5rem * 1 + 3rem * 0); }
  .col-2 { width: calc(12.5rem * 2 + 3rem * 1); }
  .container { width: calc(12.5rem * 3 + 3rem * 4); }

}

@media (min-width: 810px) {
  html { font-size: 15px; }
  .col-1, .col-2, .col-3 { margin: 0 4rem; }
  .col-1     { width: calc(12.5rem * 1 + 4rem * 0); }
  .col-2     { width: calc(12.5rem * 2 + 4rem * 1); }
  .container { width: calc(12.5rem * 3 + 4rem * 4); }

}

@media (min-width: 920px) {
  html { font-size: 16px; }
  .col-1, .col-2, .col-3 { margin: 0 4.2rem; }
  .col-1     { width: calc(12.5rem * 1 + 4.2rem * 0); }
  .col-2     { width: calc(12.5rem * 2 + 4.2rem * 1); }
  .container { width: calc(12.5rem * 3 + 4.2rem * 4); }

}


@media (min-width: 1200px) {
  html { font-size: 18px; }
  .col-1, .col-2, .col-3 { margin: 0 5.5rem; }
  .col-1     { width: calc(14rem * 1 + 5.5rem * 0); }
  .col-2     { width: calc(14rem * 2 + 5.5rem * 1); }
  .container { width: calc(14rem * 3 + 5.5rem * 4); }
}


/* MOBILE */

@media (max-width: 699px) {
  html { font-size: 14px; }
  .row { display: block; }
  .col-1, .col-2, .col-3 { margin: 0 2.5rem !important; }
  .container { width: auto; min-width: 20rem; }
  .homepage nav .col-1 { display: none; }
  nav { display: block; margin: 2rem 0 4rem 1rem !important; }
  nav .col-2 { margin-top: 1rem !important; line-height: 2; }
  header, nav, footer { text-align: center; }
  header p { width: auto; max-width: 23em; margin: auto; }
  .col-1 h2 { margin: 2rem 0 2.5rem !important; width: 12rem; }
  #nuestro-respaldo .col-1 h2 { margin: 0 !important; }
  #sobre-nosotros, #servicios-laboratorio {
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
  }
  .tecnicas .title { margin: 2rem 0 4rem 1rem !important; }
  .tecnicas .title img { width: 60% !important; }
  header img { width: 100% }
}

@media (min-width: 350px) {
  html { font-size: 15px; }
  .col-1, .col-2, .col-3 { margin: 0 2.75rem; }
}

@media (min-width: 500px) {
  html { font-size: 16px; }
  .col-1, .col-2, .col-3 { margin: 0 3rem; }
}

.last-section {
  margin-bottom: 0 !important;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

a:link, a:visited {
  color: #0e71b0;
}

ul.phonenumber {
 list-style-type: none;
 margin-left: 2rem;
}

ul.phonenumber li img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 !important;
  opacity: 0.78; 
}

ul.phonenumber li a {
  padding-left: 0.3rem;
  line-height: 1rem;
}

span.number {
  line-height: 1rem;
}

ul.phonenumber li {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;

}

table.horarios {
  margin-left: 1rem;
}

table.horarios td:first-child {
  text-align:right;
  padding-right: 2rem;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Nav bar */
nav {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}


nav .col-2 {
  flex: 1 1;
}

nav .col-2 a {
  opacity: 0.3;
}

nav .col-2 a.active {
  opacity: 1;
}

nav .col-2 a {
    opacity: 0.3;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2rem;
    color: inherit;
}


/* Tecnicas */
.tecnicas .title {
  text-align: center;
  margin-top: 2.5rem;
}

.tecnicas .title img {
  width: 300px;
}

.tecnica-row {
    margin-bottom: 2rem;
}

.tecnica-row a {
    display: block;
    color: inherit;
}

.byline {
    color: #9a9a9a;
    font-size: 0.8rem;
}
      
.tecnicas h2 {
    font-size: 1.15rem;
    margin: 3em 0 1em;
}
